<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
    <link href="../../css/home.css" rel="stylesheet" type="text/css" />
    <script src="../../js/index.js" ></script>
</head>

<body onload="resizeFrame(600);">
	<div class="barraTopo">
		<div class="fraseTopo1">
			una <label class="gold">Plataforma de Marketing</label> con un solo objetivo:
		</div>
		<div class="fraseTopo2">
			SU NEGOCIO!
		</div>
	</div>
	<div class="sombra">
	</div>
	<div id="mainContaineur">
		<p>En un solo entorno, virtual o físico, todas las herramientas para la comunicación de su empresa:</p>
		<div class="topico">Cross planing</div>
		<div class="miolo">
		La capacidad de organizar todas las herramientas, de una forma interligada, y obtener el feedback a través de customized reporting.
		</div>
		<div class="topico">Cross budget</div>
		<div class="miolo">
		Oportunidad para , en una sola herramienta, estimar los costes y comprobar su evolución.
		</div>
		<div class="topico">On Line Reporting</div>
		<div class="miolo">
		Obtener el impacto de sus campañas y redefinición de los mejores formatos, con el reporting on line.
		</div>
		<p class="topico">Un mundo de parcerias, con un solo objetivo:<br/> SU NEGOCIO.</p>		
	</div>
</body>
</html>