<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
    <link href="../../css/home.css" rel="stylesheet" type="text/css" />
    <script src="../../js/index.js" ></script>
</head>

<body onload="resizeFrame(575);">
	<div class="barraTopo">
		<div class="fraseTopo1">
			a levelled <label class="gold">Marketing Platform</label> with one target:
		</div>
		<div class="fraseTopo2">
			YOUR BUSINESS!
		</div>
	</div>
	<div class="sombra">
	</div>
	<div id="mainContaineur">
		<p>In one single space, virtual or body shaped, all the proper tools for the active communication of your company:</p>
		<div class="topico">Cross planing</div>
		<div class="miolo">
		The ability of a linked organized production, of all the tools, with the immediate  feedback, with a customized reporting system.
		</div>
		<div class="topico">Cross budget</div>
		<div class="miolo">
		Opportunity, with one single tool, to check costs, and it´s way.
		</div>
		<div class="topico">On Line Reporting</div>
		<div class="miolo">
		Get  your campaign impact, and it´s best shape, with the reports on line.
		</div>
		<p class="topico">A world of partnerships with one target:<br/> YOUR BUSINESS.</p>		
	</div>
</body>
</html>