<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
    <script src="../../js/navegador.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../css/navegador.css"/>
</head>
<body onload="abreHome('en');" oncontextmenu="return false;">
	<table id="tbl_navegador" cellpadding="0" cellspacing="0">
		<tr>
			<td class="btn1" onclick="abreHome('en');">Home</td>
			<td class="btn2" onclick="abreGrupo('en');">Group</td>
			<td class="btn3" onclick="abreContactos('en');">Contacts</td>
			<td class="btn4" onclick="abreLogin();">Login</td>
		</tr>
	</table>
</body>
</html>