<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>cabecalho</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../css/cabecalho.css"/>
</head>

<body>
	<div class="mainContainer">
		<img id="barra_topo_pt" name="barra_topo_pt" src="../../images/barra_topo_pt.jpg" usemap="#m_barra_topo_pt" alt="" />
		<map name="m_barra_topo_pt" id="m_barra_topo_pt">
			<area shape="rect" coords="63,70,86,91" href="javascript:mudaPT();" alt="" />
			<area shape="rect" coords="33,70,55,91" href="javascript: mudaSP();" alt="" />
			<area shape="rect" coords="0,70,27,91" href="javascript: mudaEN();" alt="" />
			<area shape="rect" coords="888,14,972,126" href="javascript:goHome();" alt="" />
		</map>
	</div>
</body>
</html>
