<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
    <link href="../../css/home.css" rel="stylesheet" type="text/css" />
    <script src="../../js/index.js" ></script>
</head>

<body onload="resizeFrame(600);">
	<div class="barraTopo">
		<div class="fraseTopo1">
			uma <label class="gold">Plataforma de Marketing</label> para um objectivo comum:
		</div>
		<div class="fraseTopo2">
			O SEU NEGÓCIO!
		</div>
	</div>
	<div class="sombra">
	</div>
	<div id="mainContaineur">
		<p>Num só espaço, virtual, ou fisico, todas as ferramentas, para a comunicação activa, da sua empresa:</p>
		<div class="topico">Cross planing</div>
		<div class="miolo">
		Capacidade de organizar de uma forma interligada, todas as ferramentas, e obter o feed back, através de customized reporting.
		</div>
		<div class="topico">Cross budget</div>
		<div class="miolo">
		Oportunidade para numa só ferramenta avaliar os custos, e verificar a sua evolução.
		</div>
		<div class="topico">On Line Reporting</div>
		<div class="miolo">
		Obter o impacto das suas campanhas, e redefenição dos melhores formatos, com o reporting on line.
		</div>
		<p class="topico">Um mundo de parcerias, com um só objectivo:<br/> O SEU NEGÓCIO.</p>		
	</div>
</body>
</html>